{% extends 'base.html' %}
{% block content %}
	<main>
		<!-- Heading -->
		<div id="heading">
			<div class="shell">
				<div id="heading-cnt">
					<!-- Widget -->
					<div id="heading-box">
						<div id="heading-box-cnt">
							<div class="cl">&nbsp;</div>

							<!-- Main Slide Item -->
							{% for news in news_list|slice:":1" %}
							<div class="featured-main">
								<a href="#"><img src="{{ news.image.url }}"  alt="" /></a>
								<div class="featured-main-details">
									<div class="featured-main-details-cnt">
										<h4><a href="{% url 'news_det' news.id %}">{{ news.title }}</a></h4>
										<p>{{ news.desc|truncatechars:100 }}</p>
									</div>
								</div>
							</div>
							{% endfor %}

							<!-- End Main Slide Item -->

							<div class="featured-side">
								{% for news in news_list|slice:"2:6" %}
								<!-- Slide Item 1 -->
								<div class="featured-side-item">
									<div class="cl">&nbsp;</div>
									<a href="#" class="left"><img src="{{ news.image.url }}" alt="" /></a>
									<h4><a href="{% url 'news_det' news.id %}">{{ news.title }}</a></h4>
									<div class="cl">&nbsp;</div>
								</div>
								{% endfor %}
								<!-- End Slide Item 1 -->
							</div>
							<div class="cl">&nbsp;</div>
						</div>
					</div>
					<!-- End Widget -->
				</div>
			</div>
		</div>
		<!-- End Heading -->

		<!-- Main -->
		<div id="main">
			<div class="shell">
				<div class="cl">&nbsp;</div>
				<div id="sidebar">
					<h2>Новости</h2>
					{% for news in news_list|slice:"6:11" %}
					<ul>
					    <li>
					    	<small class="date">{{ news.date }}</small>
					    	<p>{{ news.title }}</p>
					    </li>
					</ul>
					{% endfor %}
					<p><a href="{% url 'news' %}">Архив новостей</a></p>
				</div>
				<div id="content">
					<div class="cl">&nbsp;</div>
					<div class="grey-box">
						{% for news in news_list|slice:"11:12" %}
						<h3><a href="{% url 'news_det' news.id %}">{{ news.title }}</a></h3>
						<a href="#"><img src="{{ news.image.url }}" alt="" /></a>
						<p>
							<a href="{% url 'news_det' news.id %}" class="button">Подробнее</a>
						</p>
						{% endfor %}
					</div>
					<div class="grey-box">
						{% for news in news_list|slice:"12:13" %}
						<h3><a href="{% url 'news_det' news.id %}">{{ news.title }}</a></h3>
						<a href="#"><img src="{{ news.image.url }}" alt="" /></a>
						<p>
							<a href="{% url 'news_det' news.id %}" class="button">Подробнее</a>
						</p>
						{% endfor %}
					</div>
					<div class="grey-box last">
						{% for news in news_list|slice:"13:14" %}
						<h3><a href="{% url 'news_det' news.id %}">{{ news.title }}</a></h3>
						<a href="#"><img src="{{ news.image.url }}" alt="" /></a>
						<p>
							<a href="{% url 'news_det' news.id %}" class="button">Подробнее</a>
						</p>
						{% endfor %}
					</div>
					<div class="cl">&nbsp;</div>
					<div class="video-box">
						<div class="cl">&nbsp;</div>
						<h2 class="left">Видео</h2>
						<a href="#" class="button">All videos</a>
						<div class="cl">&nbsp;</div>
						{% for videos in video_list|slice:"1:2" %}
						<div class="video-item-box">
							<p>{{ videos.desc_2 }}</p>
							<a href="#" class="watch-now">Смотреть</a>
						</div>
						{% endfor %}
						{% for videos in video_list|slice:"2:3" %}
						<div class="video-item-box second">
							<a href="#" class="left"><img src="css/images/video-2.jpg" alt="" /></a>
							<p>{{ videos.desc_2 }}</p>
							<a href="#" class="watch-now">Смотреть</a>
						</div>
						{% endfor %}
						{% for videos in video_list|slice:"3:4" %}
						<div class="video-item-box">
							<a href="#" class="left"><img src="css/images/video-3.jpg" alt="" /></a>
							<p>{{ videos.desc_2 }}</p>
							<a href="#" class="watch-now">Смотреть</a>
						</div>
						{% endfor %}
						{% for videos in video_list|slice:"4:5" %}
						<div class="video-item-box second">
							<a href="#" class="left"><img src="css/images/video-4.jpg" alt="" /></a>
							<p>{{ videos.desc_2 }}</p>
							<a href="#" class="watch-now">Смотреть</a>
						</div>
						{% endfor %}
						<div class="cl">&nbsp;</div>
					</div>
				</div>
				<div class="cl">&nbsp;</div>
			</div>
		</div>
		<!-- End Main -->
	</main>
{% endblock %}