{% extends 'base.html' %}
{% block content %}

{% for News in news %}

<div class="card">
    <h2><a class="title" href="{% url 'news_det' News.id %}">{{ News.title }}</a></h2>
    <div class="card_lr">
        <div class="card_l">
            <img class="card_img" src="{{ News.image.url }}" alt="">
        </div>
        <div class="card_r">
            <p class="desc">{{ News.desc|truncatechars:600 }}</p>
            <p class="date">{{ News.date }}</p>
        </div>
    </div>
    <div class="comments">
        {% for comment in news.comments.all %}
            {% if comment.approved_comment %}
                <div class="comment">
                    <div class="date">{{ comment.created_date }}</div>
                    <strong>{{ comment.author }}</strong>
                    <p>{{ comment.text|linebreaks }}</p>
                </div>
            {% endif %}
        {% empty %}
            <p>Комментариев пока нет...</p>
        {% endfor %}
    </div>
    <hr>
    <div class="card-body mt-5">
        <a href="{% url 'news_comment' News.id %}" class="news-form">Добавить комментарий</a>
        </form>
    </div>
</div>


{% endfor %}

{% endblock %}