{% extends 'base.html' %}
{% block content %}
<main>
    <div class="card_det">
        <h1 class="title_det">{{ news.title }}</h1>
        <img class="img_det" src="{{ news.image.url }}" alt="">
        <p class="desc_det">{{ news.desc }}</p>
    </div>
    <div class="comment">
        <form action="" method="post">
            <div class="form">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <button class="btn" type="submit">Отправить</button><br>
        </form>
        {% for comment in comments %}
            <div class="comment_det">
                Пользователь - {{ comment.user }} <br><br>
                {{ comment.text }} <br><br>
                Добавлен {{ comment.created_date }} <br><br>
            </div>
        {% endfor %}
    </div>
</main>    
{% endblock %}