<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/ie6.css' %}">
    <link rel="stylesheet" href="{% static 'news/style.css' %}">
    <link rel="stylesheet" href="{% static 'photo/style.css' %}">
    <link rel="stylesheet" href="{% static 'results/style.css' %}">
    <link rel="stylesheet" href="{% static 'video/style.css' %}">
	<link rel="stylesheet" href="{% static 'news_det/style.css' %}">
	<link rel="stylesheet" href="{% static 'profile/style.css' %}">
</head>
<body>
    <!-- Header -->
	<div id="header">
		<div class="shell">
			<!-- Logo -->
			<h1 id="logo" class="notext"><a href="#">Sport Zone Sport Portal</a></h1>
			<!-- End Logo -->
		</div>
	</div>
	<!-- End Header -->

	<!-- Navigation -->
	<div id="navigation">
		<div class="shell">
			<div class="cl">&nbsp;</div>
			<ul class="menu">
				<li>
					<a href="{% url 'home' %}">Главная</a>
				</li>
			    <li>
					<a href="{% url 'news' %}">Новости</a>
				</li>
				<li>
					<a href="{% url 'results' %}">Результаты</a>
				</li>
			    <li>
					<a href="{% url 'photo' %}">Фото</a>
				</li>
			    <li>
					<a href="{% url 'video' %}">Видео</a>
				</li>
				<li>
					<a href="{% url 'profile' %}">Профиль</a>
				</li>
			</ul>
			<ul class="menu_r">
				{% if request.user.username %}
					<li>
						<a href="{% url 'logoutuser' %}">Выход</a>
					</li>
				{% else %}
					<li>
						<a href="{% url 'reguser' %}">Регистрация</a>
					</li>
					<li>
						<a href="{% url 'loginuser' %}">Вход</a>
					</li>
				{% endif %}
			</ul>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
	<!-- End Navigation -->

	{% block content %}
    {% endblock %}
</body>
</html>